.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#masthead-demo{
  display: none;
}

#myvideo{
  display: none

}

.navbar-brand
{
  font-family: "Lobster", serif;
  font-size: 24px;
}
#acne {
	font-weight: bold;
	color: #ca5959;
}
#corona {
	font-weight: bold;
	color: #718871;
}
.lead {
	padding-top: 20px;
	padding-bottom: 20px;
  font-size: 1.5rem !important;
}

#selectors{
  position:absolute;
  top: 80px;
}


a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}


#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  font-weight: bold;
  position: fixed;
  bottom: 0%;
  width: 100%;
  color: white;
  display: none;
}
#download-desktop-app{
    color: white;
}

.btn{
  font-weight: bold;
}


.lead{
  color: black;  
}

#user-message{
  font-size: 2rem !important;
}
